services:
  db:
    image: postgres:15
    container_name: db_dashboard
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    ports:
      - "5432:5432"
    volumes:
      # El formato es: ./ruta/local.sql:/docker-entrypoint-initdb.d/ORDEN_nombre.sql
      - ./backend/db/schema.sql:/docker-entrypoint-initdb.d/01_schema.sql
      - ./backend/db/seed.sql:/docker-entrypoint-initdb.d/02_seed.sql
      - ./backend/db/reports_vw.sql:/docker-entrypoint-initdb.d/03_reports_vw.sql
      - ./backend/db/indexes.sql:/docker-entrypoint-initdb.d/04_indexes.sql
      - ./backend/db/roles.sql:/docker-entrypoint-initdb.d/05_roles.sql
    networks:
      - app-network

  app:
    build:
      context: ./frontend     
      dockerfile: Dockerfile   
    container_name: nextjs_app
    ports:
      - "3000:3000"
    environment:
      DATABASE_URL: ${DATABASE_URL}
    depends_on:
      - db
    networks:
      - app-network

networks:
  app-network:
    driver: bridge